<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>

  <div id="content">
    <h1>It's Mr. Stick Figure</h1>
    <p>Taxidermy keytar selvage heirloom kinfolk,
      try-hard everyday carry vegan 8-bit.
      Thundercats kinfolk organic chia,
      tousled poutine tacos cardigan.
      +1 fanny pack pop-up readymade chicharrones,
      asymmetrical tattooed squid paleo.
      Authentic chia pug, mustache banh mi YOLO
      sustainable. Whatever salvia +1 fanny pack you
      probably haven't heard of them helvetica
      mustache shabby chic pug. Hoodie cliche tumblr
      flannel pug, wayfarers stumptown seitan four
      dollar toast keytar pinterest fashion axe
      tousled. Blue bottle raw denim affogato tofu.
    </p>
  </div>
</div>
